<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">Gifs App</h3>
  <hr class="text-light" />

  <div class="list-group list-reset">
    <button
      *ngFor="let item of getTags; let index = index"
      (click)="handleSearchByTag(item)"
      class="list-group-item list-group-item-action"
    >
      <!-- se hará uso de los Pipe de Angular, los cuales son un objeto que permite transformar de manera visual la información que mostraremos en pantalla sin mutar la data real y en este caso será el Pipe de titlecase para capitalizar las palabras en este caso cada item -->
      <strong>{{ index + 1 }}.</strong>
      {{ item | titlecase }}
    </button>

    <!-- si getTags tiene más de 0 elementos entonces recién se muestra el botón -->
    <button
      *ngIf="getTags.length > 0"
      class="btn btn-danger mt-4"
      (click)="handleCleanStorage()"
    >
      Clear
    </button>
  </div>
</div>
